<p>
Q: I don't understand derivatives. What are these options?<br>
A: If you're not sure what this is, please don't try to place any trades before reading up on 
<a href="http://www.investopedia.com/university/options/">options</a> and <a href="http://en.wikipedia.org/wiki/Derivative_%28finance%29">derivatives</a>. This can be a very volatile market
where you can lose/gain a large amount very quickly.
</p>

<p>
Q: What is this site?<br>
A: It is bitcoin-based derivatives exchange.
</p>

<p>
Q: What is the advantage of using this exchange rather than making my own arrangements privately?<br>
A: Being visible in a larger market will give you better liquidity and better prices for your contracts.
We also guarantee that margin requirements are held by all sides. This means that everyone, including those holding
highly leveraged positions can be guaranteed that the other side will not default.
</p>

<p>
Q: What happens on the time of expiration?<br>
A: If the holder of the option is in-the-money, the option will be immediately executed, and funds will
be deposited into the holder's account. For example, person A holds 100 put options expiring on May 31, 2011, for
an exchange rate of 0.1 (100USD/10BTC). The exchange rate on expiration date is 0.05 (200USD/10BTC). Person A will get 5BTC(the profit)
transferred to his account, and person B(the option writer) will lose 5BTC held in the margin account. All options are selled in 
BTC, which can be converted into USD later as required.
</p>

<p>
Q: Will I be able to write naked calls?<br>
A: Unfortunately, due to the highly volatile nature of the BitCoin market, we cannot allow naked-call writing
without the full margin. The only way to write a call option is to own the underlying amount of BitCoins.
</p>

<p>
Q: Can I make a demo account to trade with paper money?
A: Demo accounts will be supported very soon.
</p>

<p>
Q: Is margin-trading allowed?
A: As soon as the market becomes more liquid, we will allow accounts to have a 2:1 margin
</p>

<p>
Q: Will the Bitcoin economy collapse if everyone starts making leveraged trades?<br>
A: No. Derivatives trading is largely a zero-sum game, and the actual BitCoin economy will be unaffected.
</p>

<p>
Q: Will this site provide more data at some point like option greeks/ historical data?<br>
A: Yes, if there is enough demand for these in the future, then definitely.
</p>

<p>
Q: Will there be more instruments available to trade in the future?<br>
A: Yes, we are working on providing more bitcoin based derivatives in the near future. Stay tuned.
</p>

<p>
Q: I have a great idea/suggestion/rant about this site.<br>
A: Feel free to contact us, and we will try and get back to everyone who does.
</p>
